<i ng-if="!ctrl.folder.isRoot" ng-bind-html="ctrl.folder.name | splitWords | highlight"></i>

<div ng-class="{'folder-indent': !ctrl.folder.isRoot}">
  <div ng-repeat="child in ctrl.folder.children | orderBy: 'name'">
    <div folder="child" documentation-code="ctrl.documentationCode"></div>
  </div>
</div>

<div 
  class="folder-item-padding" 
  ng-class="{'folder-indent': !ctrl.folder.isRoot}" 
  ng-repeat="feature in ctrl.folder.features | orderBy: 'Feature.Name'"">
  <a 
    class="inactive-feature"
    href="#/feature/{{ctrl.documentationCode}}/{{feature.code}}{{ctrl.searchPart}}"
    is-active-last="/{{ctrl.documentationCode}}/{{feature.code}}"
    ng-bind-html="feature.Feature.Name | highlight">
  </a>
  <b>
    <a 
      class="active-feature"
      href="#/feature/{{ctrl.documentationCode}}/{{feature.code}}{{ctrl.searchPart}}"
      is-active-last="/{{ctrl.documentationCode}}/{{feature.code}}"
      ng-bind-html="feature.Feature.Name | highlight">
    </a>
  </b>
</div>
