<i *ngIf="!folder.isRoot" [innerHTML]="folder.name | splitWords | highlight"></i>

<div [class.folder-indent]="!folder.isRoot">
  <div *ngFor="#child of childrenFolders">
    <folder [folder]="child" [documentationCode]="documentationCode"></folder>
  </div>
</div>

<div class="folder-item-padding" [class.folder-indent]="!folder.isRoot" *ngFor="#feature of childrenFeatures">
  <a
    class="inactive-feature"
    [href]="getFeatureUrl(feature)"
    [class.active]="isFeatureActive(feature)"
    [innerHTML]="feature.Feature.Name | highlight">
  </a>
  <b>
    <a
      class="active-feature"
      [href]="getFeatureUrl(feature)"
      [class.active]="isFeatureActive(feature)"
      [innerHTML]="feature.Feature.Name | highlight">
    </a>
  </b>
</div>
