<abbr title="Item requires manual testing" *ngIf="isManual">
  <span
    class="fa fa-user text-info">
  </span>
</abbr>

<abbr title="Item is passing" *ngIf="!isManual && status.WasExecuted && status.WasSuccessful">
  <span class="fa fa-check-circle text-success"></span>
</abbr>

<abbr title="Item is pending" *ngIf="!isManual && !status.WasExecuted">
  <span class="fa fa-question-circle text-warning"></span>
</abbr>

<abbr title="Item is failing" *ngIf="!isManual && status.WasExecuted && !status.WasSuccessful">
  <span class="fa fa-exclamation-circle text-danger"></span>
</abbr>