<abbr title="Item requires manual testing" *ngIf="isManual">
  <span
    class="mega-octicon octicon-person text-info"
    style="margin-left: 4px !important; margin-right: -4px !important;">
  </span>
</abbr>

<abbr title="Item is passing" *ngIf="!isManual && status.WasExecuted && status.WasSuccessful">
  <span class="mega-octicon octicon-verified text-success"></span>
</abbr>

<abbr title="Item is pending" *ngIf="!isManual && !status.WasExecuted">
  <span class="mega-octicon octicon-unverified text-warning"></span>
</abbr>

<abbr title="Item is failing" *ngIf="!isManual && status.WasExecuted && !status.WasSuccessful">
  <span class="mega-octicon octicon-alert text-danger"></span>
</abbr>