<i *ngIf="!folder.isRoot" [innerHTML]="folder.name | splitWords | highlight | safe"></i>

<div [class.folder-indent]="!folder.isRoot">
  <div *ngFor="let child of childrenFolders">
    <ld-folder [folder]="child" [documentationCode]="documentationCode"></ld-folder>
  </div>
</div>

<div class="folder-item-padding" [class.folder-indent]="!folder.isRoot" *ngFor="let feature of childrenFeatures">
  <a class="inactive-feature" [routerLink]="['/feature', documentationCode, feature.code]" preserveQueryParams routerLinkActive="active"
    [innerHTML]="feature.Feature.Name | highlight | safe">
  </a>
  <b>
    <a
      class="active-feature"
      [routerLink]="['/feature', documentationCode, feature.code]"
      preserveQueryParams
      routerLinkActive="active"
      [innerHTML]="feature.Feature.Name | highlight | safe">
    </a>
  </b>
</div>