<h4>{{ctrl.documentation.definition.name}}</h4>

<div class="row">
  <div class="col-lg-6">
    <div statistics="ctrl.iterationFeatures" name="Iteration Features"></div>
  </div>

  <div class="col-lg-6">
    <div statistics="ctrl.iterationScenarios" name="Iteration Scenarios"></div>
  </div>
</div>

<div class="row">
  <div class="col-lg-6">
    <div statistics="ctrl.features" name="Features"></div>
  </div>

  <div class="col-lg-6">
    <div statistics="ctrl.scenarios" name="Scenarios"></div>
  </div>
</div>
