<div class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#/dashboard{{root.searchPart}}">Living Documentation</a>
    </div>

    <div class="collapse navbar-collapse navbar-ex1-collapse">
        <form class="navbar-form navbar-right" role="search">
          <div class="form-group">
            <div class="btn-group" dropdown>
              <button 
                id="split-button" 
                type="button" 
                class="btn btn-default"
                ng-click="root.clearFilter()"
                ng-class="{active: root.filter == null}">
                No Filter
              </button>
              <button type="button" class="btn btn-default" dropdown-toggle>
                <span class="caret"></span>
                <span class="sr-only"></span>
              </button>
              <ul class="dropdown-menu" role="menu" aria-labelledby="split-button">
                <li role="menuitem" ng-class="{active: root.filter === root.DocumentationFilter.InProgress}">
                  <a ng-click="root.showOnly(root.DocumentationFilter.InProgress)">In Progress</a>
                </li>
                <li role="menuitem" ng-class="{active: root.filter === root.DocumentationFilter.Pending}">
                  <a ng-click="root.showOnly(root.DocumentationFilter.Pending)">Pending</a>
                </li>
                <li role="menuitem" ng-class="{active: root.filter === root.DocumentationFilter.Failed}">
                  <a ng-click="root.showOnly(root.DocumentationFilter.Failed)">Failed</a>
                </li>
                <li role="menuitem" ng-class="{active: root.filter === root.DocumentationFilter.Manual}">
                  <a ng-click="root.showOnly(root.DocumentationFilter.Manual)">Manual</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Search text" ng-model="root.searchText">
          </div>
          <button 
            type="submit" 
            class="btn btn-primary" 
            ng-disabled="!root.isSearchEnabled" 
            ng-click="root.search()">
            Search
          </button>
          <button 
            type="button" 
            class="btn btn-warning" 
            ng-disabled="!root.isClearSearchEnabled"
            ng-click="root.clearSearch()">
            Clear
          </button>
        </form>
      </div>
  </div>
</div>

<div class="container" ng-hide="root.error">
  <div class="row">
    <div class="col-lg-4 vertical-pane">
      <div ng-if="root.ready">
        <div documentation-list></div>
      </div>
    </div>
    <div class="col-lg-8 vertical-pane" ng-view></div>
  </div>
</div>

<div class="alert alert-danger" role="alert" ng-cloak ng-show="root.error">
  <p>
    <b>Error Occurred:</b>{{root.error}}
  <p>
</div>

<div class="navbar navbar-default navbar-fixed-bottom">
  <div class="container">
    <p ng-cloak class="navbar-text">Living Documentation Application: v<span app-version></span></p>
    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <p ng-cloak class="navbar-text navbar-right" ng-if="root.ready">
        Last Updated On: {{root.lastUpdatedOn | date: 'medium'}}
      </p>
    </div>
  </div>
</div>

<script type="text/ng-template" id="processing.html">
  <div class="modal-body">
    <h4 class="text-center">Loading data...</h4>
    <div class="progress progress-striped active">
      <div class="progress-bar" role="progressbar" style="width: 100%"></div>
    </div>
  </div>
</script>
