<h4>{{documentation.definition.name}}</h4>

<div class="row" style="margin-bottom: 1rem;">
  <div class="col-lg-6">
    <ld-statistics [statistics]="iterationFeatures" name="Iteration Features"></ld-statistics>
  </div>

  <div class="col-lg-6">
    <ld-statistics [statistics]="iterationScenarios" name="Iteration Scenarios"></ld-statistics>
  </div>
</div>

<div class="row" style="margin-bottom: 1rem;">
  <div class="col-lg-6">
    <ld-statistics [statistics]="features" name="Features"></ld-statistics>
  </div>

  <div class="col-lg-6">
    <ld-statistics [statistics]="scenarios" name="Scenarios"></ld-statistics>
  </div>
</div>