<nav class="navbar navbar-toggleable-md navbar-light fixed-top bg-faded">
  <div class="container">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" routerLink="/dashboard" queryParamsHandling="preserve">
      <span class="mega-octicon octicon-mortar-board d-inline-block align-top"></span> Living Documentation
    </a>

    <div class="collapse navbar-collapse" id="navbarToggler">
      <ul class="navbar-nav mr-auto mt-2 mt-md-0">
      </ul>
      <form [formGroup]="form" class="form-inline my-2 my-lg-0" role="search">
        <div ngbDropdown class="custom-control mb-2 mr-sm-2 mb-sm-0 btn-group">
          <button type="button" class="btn btn-secondary" (click)="clearFilter()" [class.active]="filter == null">
            No Filter
          </button>
          <button class="btn btn-secondary dropdown-toggle-split" id="filterOptions" ngbDropdownToggle>
            <span class="sr-only">Toggle Dropdown</span>
          </button>
          <div class="dropdown-menu" aria-labelledby="filterOptions">
            <button class="dropdown-item" [class.active]="filter === documentationFilter.InProgress" (click)="showOnly(documentationFilter.InProgress)">
              In Progress
            </button>
            <button class="dropdown-item" [class.active]="filter === documentationFilter.Pending" (click)="showOnly(documentationFilter.Pending)">
              Pending
            </button>
            <button class="dropdown-item" [class.active]="filter === documentationFilter.Failing" (click)="showOnly(documentationFilter.Failing)">
              Failing
            </button>
            <button class="dropdown-item" [class.active]="filter === documentationFilter.Manual" (click)="showOnly(documentationFilter.Manual)">
              Manual
            </button>
          </div>
        </div>
        <input type="text" class="form-control mr-sm-2" placeholder="Search text" formControlName="searchControl" (keyup.enter)="search()">
        <button type="button" class="btn btn-warning my-2 my-sm-0" [disabled]="!isClearSearchEnabled" (click)="clearSearch()">
          Clear
        </button>
      </form>
    </div>
  </div>
</nav>

<div class="container" [hidden]="error">
  <div class="row">
    <div class="col-lg-4 vertical-pane">
      <ld-documentation-list></ld-documentation-list>
    </div>
    <div class="col-lg-8 vertical-pane">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

<div class="container">
  <div class="alert alert-danger" role="alert" [hidden]="!error">
    <p>
      <b>Error Occurred: </b>{{error}}
    </p>
  </div>
</div>

<nav class="navbar navbar-toggleable-md navbar-light fixed-bottom bg-faded">
  <div class="container">
    <span class="navbar-text mr-auto">Living Documentation Application: v{{appVersion}}</span>

    <span class="navbar-text" *ngIf="lastUpdatedOn | async">
      Last Updated On: {{lastUpdatedOn | async | date: 'medium'}}
    </span>
  </div>
</nav>

<ng-template #loadingDataContent>
  <div class="modal-body">
    <h4 class="text-center">Loading data...</h4>
    <div class="progress">
      <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 100%">
      </div>
    </div>
  </div>
</ng-template>