<abbr title="Item requires manual testing">
  <span 
    ng-if="ctrl.isManual" 
    class="glyphicon glyphicon-user text-info">
  </span>
</abbr>

<abbr title="Item is passing">
  <span 
    ng-if="!ctrl.isManual && ctrl.status.WasExecuted && ctrl.status.WasSuccessful" 
    class="glyphicon glyphicon-ok-sign text-success">
  </span>
</abbr>

<abbr title="Item is pending">
  <span 
    ng-if="!ctrl.isManual && !ctrl.status.WasExecuted" class="glyphicon glyphicon-question-sign text-warning">
  </span>
</abbr>

<abbr title="Item is failing">
  <span 
    ng-if="!ctrl.isManual && ctrl.status.WasExecuted && !ctrl.status.WasSuccessful" 
    class="glyphicon glyphicon-exclamation-sign text-danger">
  </span>
</abbr>
