/* You can add global styles to this file, and also import other style files */

.table {
  margin-bottom: 0;
}

body {
  padding-top: 70px;
  padding-bottom: 70px;
}

body, html {
  height: 100%;
  overflow: hidden;
}

.bottom-margin {
  margin-bottom: 20px;
}

.no-stretch {
  width: 1%;
  white-space: nowrap;
}

.h-scrollable {
  width: 100%;
  overflow: auto;
}

.no-wrap {
  white-space: nowrap;
}

.vertical-pane {
  margin-top: -20px;
  padding-top: 20px;
  height: calc(100vh - 100px);
  overflow: auto;
}

.folder-indent {
  padding-left: 15px;
}

.folder-item-padding {
  padding-bottom: 7px
}

.inactive-feature.active, .active-feature {
  display: none;
}

.active-feature.active {
  display: block;
}

.nav, .pagination, .carousel, .panel-title a {
  cursor: pointer;
}

.no-borders {
  border-width: 0 !important;
}

.no-left-border {
  border-left-width: 0 !important;
}

.no-right-border {
  border-right-width: 0 !important;
}

.no-bottom-border {
  border-bottom-width: 0 !important;
}

.borders {
  border-width: 1px;
  border-style: solid;
  border-color: #ddd;
}
