<div *ngFor="let feature of feature | async">

  <table style="width: 100%">
    <tr>
      <td>
        <h3 [innerHTML]="feature.Feature.Name | highlight | safe"></h3>
      </td>
      <td class="no-stretch" *ngIf="featureEditUrl">&nbsp;</td>
      <td class="no-stretch">
        <a [href]="featureEditUrl" target="_blank" *ngIf="featureEditUrl">
          <h3>
            <span class="fa fa-pencil-square-o"></span>
          </h3>
        </a>
      </td>
      <td class="no-stretch">&nbsp;</td>
      <td class="no-stretch">
        <h3>
          <ld-status [status]="feature.Feature.Result" [isManual]="feature.isManual"></ld-status>
        </h3>
      </td>
      <td class="no-stretch">&nbsp;</td>
      <td class="no-stretch">
        <a (click)="isExpanded = !isExpanded">
          <h3>
            <span *ngIf="isExpanded" class="fa fa-caret-square-o-up"></span>
            <span *ngIf="!isExpanded" class="fa fa-caret-square-o-down"></span>
          </h3>
        </a>
      </td>
    </tr>
  </table>

  <p *ngIf="feature.Feature.Tags.length > 0">
    <ld-tags [tags]="feature.Feature.Tags" [documentation]="documentation"></ld-tags>
  </p>

  <p><i [innerHTML]="feature.Feature.Description | highlight | newline | safe"></i></p>

  <div *ngIf="feature.Feature.Background" class="card bottom-margin">
    <div class="card-block">
      <ld-scenario [scenario]="feature.Feature.Background" [documentation]="documentation" [isBackground]="true">
      </ld-scenario>
    </div>
  </div>

  <div class="card bottom-margin" *ngFor="let scenario of feature.Feature.FeatureElements">
    <div class="card-block">
      <ld-scenario [scenario]="scenario" [documentation]="documentation"></ld-scenario>
    </div>
  </div>

</div>