<table style="width: 100%">
  <tr>
    <td><h3 ng-bind-html="ctrl.feature.Feature.Name | highlight"></h3></td>
    <td class="no-stretch">&nbsp;</td>
    <td class="no-stretch">
      <a ng-click="ctrl.isExpanded = !ctrl.isExpanded">
        <h3>
          <span ng-if="ctrl.isExpanded" class="glyphicon glyphicon-collapse-up"></span>
          <span ng-if="!ctrl.isExpanded" class="glyphicon glyphicon-collapse-down"></span>
        </h3>
      </a>
    </td>
  </tr>
</table>

<p>Tags: <i ng-repeat="tag in ctrl.feature.Feature.Tags">{{tag}} </i></p>

<p><i ng-bind-html="ctrl.feature.Feature.Description | highlight | newline"></i></p>

<div ng-if="ctrl.feature.Feature.Background" class="panel panel-default">
  <div class="panel-body">
    <div scenario="ctrl.feature.Feature.Background"></div>
  </div>
</div>

<div class="panel panel-default" ng-repeat="scenario in ctrl.feature.Feature.FeatureElements">
  <div class="panel-body">
    <div scenario="scenario"></div>
  </div>
</div>
