<table>
  <tr>
    <td><h4 ng-bind-html="ctrl.scenario.Name || 'Background' | highlight"></h4></td> 
    <td class="no-stretch" ng-if="ctrl.scenario.tests && ctrl.scenario.tests.length == 1">
      <a class="text-right" href="{{ctrl.scenario.tests[0]}}" target="_blank">Run test</a>&nbsp;
    </td>
    <td class="no-stretch">
      <a ng-click="ctrl.scenario.isExpanded = !ctrl.scenario.isExpanded">
        <h4>
          <span ng-if="ctrl.scenario.isExpanded" class="glyphicon glyphicon-collapse-up"></span>
          <span ng-if="!ctrl.scenario.isExpanded" class="glyphicon glyphicon-collapse-down"></span>
        </h4>
      </a>
    </td>
  </tr>
</table>

<div ng-if="ctrl.scenario.isExpanded">
  <p ng-if="ctrl.scenario.Tags.length > 0">
    Tags: <span ng-repeat="tag in ctrl.scenario.Tags"><i ng-bind-html="tag | highlightTag"></i> </span>
  </p>

  <p><i ng-bind-html="ctrl.scenario.Description | highlight | newline"></i></p>

  <div ng-repeat="step in ctrl.scenario.Steps" style="margin-bottom: 10px">
    <b>{{step.Keyword}}</b> <span ng-bind-html="step.Name | highlight | scenarioOutlinePlaceholder"></span>
    <div ng-if="step.TableArgument">
      <div class="h-scrollable" table="step.TableArgument"></div>
    </div>
    <div ng-if="step.DocStringArgument">
      <pre ng-bind-html="step.DocStringArgument | highlight | newline"></pre>
    </div>
  </div>

  <div ng-if="ctrl.scenario.Examples">
    <div style="margin-bottom: 10px">
      <b>Examples:</b>
      <p><i ng-bind-html="ctrl.scenario.Examples.Description | highlight | newline"></i></p>
      <div class="h-scrollable" table="ctrl.scenario.Examples.TableArgument" tests="ctrl.scenario.tests"></div>
    </div>
  </div>
</div>
