<table>
  <tr>
    <td><h4 [innerHTML]="scenario.Name || 'Background' | highlight"></h4></td>
    <td class="no-stretch" *ngIf="scenario.tests && scenario.tests.length === 1">
      <a class="text-right" [href]="scenario.tests[0]" target="_blank">Run test</a>
    </td>
    <td class="no-stretch">&nbsp;</td>
    <td class="no-stretch">
      <h4>
        <status [status]="scenario.Result" [isManual]="scenario.isManual"></status>
      </h4>
    </td>
    <td class="no-stretch">&nbsp;</td>
    <td class="no-stretch">
      <a (click)="scenario.isExpanded = !scenario.isExpanded">
        <h4>
          <span *ngIf="scenario.isExpanded" class="glyphicon glyphicon-collapse-up"></span>
          <span *ngIf="!scenario.isExpanded" class="glyphicon glyphicon-collapse-down"></span>
        </h4>
      </a>
    </td>
  </tr>
</table>

<div *ngIf="scenario.isExpanded">
  <p *ngIf="scenario.Tags.length > 0">
    <tags [tags]="scenario.Tags" [documentation]="documentation"></tags>
  </p>

  <p><i [innerHTML]="scenario.Description | highlight | newline"></i></p>

  <div *ngFor="#step of scenario.Steps" style="margin-bottom: 10px">
    <b>{{step.Keyword}}</b> <span [innerHTML]="step.Name | highlight | scenarioOutlinePlaceholder"></span>
    <div *ngIf="step.TableArgument">
      <feature-table [table]="step.TableArgument"></feature-table>
    </div>
    <div *ngIf="step.DocStringArgument">
      <div class="well h-scrollable">
        <span
          class="no-wrap"
          [innerHTML]="step.DocStringArgument | highlight | scenarioOutlinePlaceholder | newline">
        </span>
      </div>
    </div>
  </div>

  <div *ngIf="scenario.Examples">
    <div style="margin-bottom: 10px">
      <b>Examples:</b>
      <p><i [innerHTML]="scenario.Examples.Description | highlight | newline"></i></p>
      <feature-table [table]="scenario.Examples.TableArgument" [tests]="scenario.tests"></feature-table>
    </div>
  </div>
</div>
