<div class="borders">
  <div class="h-scrollable">
    <table class="table table-condensed table-striped table-bordered no-borders">
      <thead>
        <tr>
          <th
            *ngFor="#col of table.HeaderRow; #i = index; #last = last"
            [class.no-left-border]="!i"
            [class.no-right-border]="last && !tests"
            [innerHTML]="col | highlight">
          </th>
          <th class="no-stretch no-right-border" *ngIf="tests">Test</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="#row of table.DataRows; #rowIndex = index; #lastRow = last">
          <td
            *ngFor="#col of row; #i = index; #last = last"
            [class.no-left-border]="!i"
            [class.no-right-border]="last && !tests"
            [class.no-bottom-border]="lastRow"
            [innerHTML]="col | highlight | widen | scenarioOutlinePlaceholder">
          </td>
          <td class="no-stretch no-right-border" [class.no-bottom-border]="lastRow" *ngIf="tests">
            <a [href]="tests[rowIndex]" target="_blank">Run</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
