<table class="table table-condensed table-striped table-bordered">
  <thead>
    <tr>
      <th ng-repeat="col in ctrl.table.HeaderRow" ng-bind-html="col | highlight"></th>
      <th class="no-stretch" ng-if="ctrl.tests">Test</th>
    </tr>
  </thead>

  <tbody>
    <tr ng-repeat="row in ctrl.table.DataRows">
      <td 
        ng-repeat="col in row track by $index" ng-bind-html="col | highlight | widen | scenarioOutlinePlaceholder">
      </td>
      <td class="no-stretch" ng-if="ctrl.tests"><a href="{{ctrl.tests[$index]}}" target="_blank">Run</a></td>
    </tr>
  </tbody>
</table>
